@using Microsoft.AspNetCore.Components.Web
@inherits DanlupDateTimeBase

<CascadingValue Name="currentDay" Value="@current">
<div class="danlupDate">
    <div class="row1">
        <span class="prev" @onclick="PrevMonth">&lt;&lt;</span>@current.ToString("M")<span class="next" @onclick="NextMonth">&gt;&gt;</span>
    </div>

<div class="row2">
    <table>
        <tr>
            <th><div>m</div></th>
            <th><div>t</div></th>
            <th><div>w</div></th>
            <th><div>t</div></th>
            <th><div>f</div></th>
            <th><div>s</div></th>
            <th><div>s</div></th>
        </tr>
        <tr>
            @for (int iterator = 1; iterator <= 7; iterator++)
            {
                        <td><Day MouseClick="DateSelected" day="@GetDayNumberPerColumn(iterator)"></Day></td>
            }
        </tr>
        <tr>
            @for (int iterator = 8; iterator <= 14; iterator++)
            {
                        <td><Day MouseClick="DateSelected" day="@GetDayNumberPerColumn(iterator)"></Day></td>
            }
        </tr>
        <tr>
            @for (int iterator = 15; iterator <= 21; iterator++)
            {
                        <td><Day MouseClick="DateSelected" day="@GetDayNumberPerColumn(iterator)"></Day></td>
            }
        </tr>
        <tr>
            @for (int iterator = 22; iterator <= 28; iterator++)
            {
                        <td><Day MouseClick="DateSelected" day="@GetDayNumberPerColumn(iterator)"></Day></td>
            }
        </tr>
        @if (needFifthRow)
        {
            <tr>
                @for (int iterator = 29; iterator <= 35; iterator++)
                {
                            <td><Day MouseClick="DateSelected" day="@GetDayNumberPerColumn(iterator)"></Day></td>
                }
            </tr>
        }
        @if (needSixthRow)
        {
        <tr>
            @for (int iterator = 36; iterator <= 42; iterator++)
            {
                            <td><Day MouseClick="DateSelected" day="@GetDayNumberPerColumn(iterator)"></Day></td>
            }
        </tr>
        }
    </table>
</div>

</div>
</CascadingValue>
